[Desktop Entry]
Version=1.0
Name=Thorium Browser (AVX)
GenericName=Web Browser
Comment=Fast, secure, optimized web browser for AVX architecture
Exec=/usr/bin/thorium-browser %U
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=thorium-browser
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml_xml;x-scheme-handler/http;x-scheme-handler/https;
StartupWMClass=thorium-browser
